<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="IMOD.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </sectionGroup>
 </configSections>
	<connectionStrings>
  <add name="IMOD.Service.Properties.Settings.Conexao" connectionString="Data Source =172.16.190.108\SQLEXPRESS; Initial Catalog =Integracao;User ID =imod; Password=imod; Min Pool Size = 5; Max Pool Size = 15; Connection Reset = True; Connection Lifetime = 600; Trusted_Connection = no; MultipleActiveResultSets = True"/>
 </connectionStrings>
 <startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.194" newVersion="4.2.0.194"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0"/>
      </dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net208">
        <arg key="configType" value="FILE-WATCH"/>
        <arg key="configFile" value="~/Log.config"/>
      </factoryAdapter>
    </logging>
	</common>
  <appSettings>
    <add key="Conexao" value="Data Source =GCTEC55\SQLEXPRESS; Initial Catalog =Integracao;User ID =imod; Password=imod; Min Pool Size = 5; Max Pool Size = 15; Connection Reset = True; Connection Lifetime = 600; Trusted_Connection = no; MultipleActiveResultSets = True"/>
    <add key="Certificado" value="KxsD11z743Hf5Gq9mv3+5ekxzemlCiUXkTFY5ba1NOGcLCmGstt2n0zYE9NsNimv"/>
    <add key="Diretorio" value="172.16.190.162"/>
    <add key="UsuarioSC" value="Credenciamento"/>
    <add key="SenhaSC" value="Genetec@2020"/>
  </appSettings>
  <applicationSettings>
  <IMOD.Service.Properties.Settings>
    <setting name="Certificado" serializeAs="String">
      <value>KxsD11z743Hf5Gq9mv3+5ekxzemlCiUXkTFY5ba1NOGcLCmGstt2n0zYE9NsNimv</value>
    </setting>
    <setting name="Diretorio" serializeAs="String">
      <value>172.16.190.162</value>
    </setting>
    <setting name="UsuarioSC" serializeAs="String">
      <value>Admin</value>
    </setting>
    <setting name="SenhaSC" serializeAs="String">
      <value>
        
      </value>
    </setting>
  </IMOD.Service.Properties.Settings>
 </applicationSettings>
</configuration>
