<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="7.0.1" targetFramework="net462" />
  <package id="EntityFramework" version="6.1.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.2" targetFramework="net462" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.2" targetFramework="net462" />
  <package id="Microsoft.Expression.Encoder" version="4.0.4276.3" targetFramework="net462" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.0.0" targetFramework="net462" />
  <package id="Owin" version="1.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="WpfAnimatedGif" version="1.4.17" targetFramework="net462" />
  <package id="WpfWebcamControl" version="3.3.1" targetFramework="net462" />
</packages>