@{
    ViewBag.Title = "Genetec - Security Center";
}

<div class="jumbotron">
    <h1>Pré-Cadastro do Credenciamento</h1>
    <p class="lead">Módulo Web que permite o pré-cadastramento dos caloboradores, veiculos e equipamentos pela empresa autorizada.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Ler mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Colaboradores</h2>
        <p>
            Cadastra os colaboradores que serão credenciados no Sistema de Acesso Secutity Center (Genetec)
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Veículos</h2>
        <p>Cadastra os Veículos que serão credenciados no Sistema de Acesso Secutity Center (Genetec).</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Equipamentos</h2>
        <p>Cadastra os Equipamentos que serão credenciados no Sistema de Acesso Secutity Center (Genetec)</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>