@model IMOD.PreCredenciamentoWeb.Models.ColaboradorViewModel
@using IMOD.Domain.Enums;

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Colaborador</h3>
@using (Html.BeginForm("Edit", "Colaborador", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.Partial("_EditPartial", Model);
}

@section Scripts {
    @Html.Partial("_EditScriptPartial");
}

