@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<div class="table-wrapper">
    <div class="row">
        <section>
            <div class="wizard">
                <div class="wizard-inner" style="text-align:center">
                    <div class="connecting-line" style="width:100%"></div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item active">
                            <a class="nav-link" id="link1" data-toggle="tab" href="#home" role="tab" aria-controls="home" title="Links Úteis"
                               aria-selected="true">
                                <span class="round-tab">
                                    <i class="fa fa-fw fa-envelope"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div class="col-lg-8" style="text-align:left">
                        <br />
                        <address>
                            <strong>Estrela Sistemas Eletrônicos Ltda.</strong><br>
                            Rua São Matheus, 221, Centro - Lauro de Freitas
                            <br /> CEP 42700-000<br />
                            <abbr title="Telefone">Tel.:</abbr>+55 (071) 3173-9999
                            <abbr title="Telefone Fax">Fax:</abbr>+55 (071) 3173-9980
                        </address>
                        <address>
                            <strong>Ouvidoria:</strong>   <a class="btn-icon" href="mailto:ouvidoria@grupoestrela.com">ouvidoria@grupoestrela.com</a><br />
                            <strong>Engenharia:</strong> <a class="btn-icon" href="mailto:engenharia@grupoestrela.com">engenharia@grupoestrela.com</a>
                        </address>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            //Initialize tooltips
            $('.nav-tabs > li a[title]').tooltip();
        });
    </script>
}
