@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-12">
                <h2><b><span style="color:white">Contato</span></b></h2>
            </div>
        </div>
    </div>
    <div class="list-group list-group-item-heading">
        <br />
        <address>
            <strong>Estrela Sistemas Eletrônicos Ltda.</strong><br>
            Rua São Matheus, 221, Centro - Lauro de Freitas
            <br /> CEP 42700-000<br />
            <abbr title="Telefone">Tel.:</abbr>+55 (071) 3173-9999
            <abbr title="Telefone Fax">Fax:</abbr>+55 (071) 3173-9980
        </address>
        <address>
            <strong>Ouvidoria:</strong>   <a href="mailto:ouvidoria@grupoestrela.com">ouvidoria@grupoestrela.com</a><br />
            <strong>Engenharia:</strong> <a href="mailto:engenharia@grupoestrela.com">engenharia@grupoestrela.com</a>
        </address>
    </div>
</div>
