@{
    ViewBag.Title = "Credenciamento";
}

<div class="jumbotron">
        <h1>Credenciamento</h1>
        <img src="~/Images/Cracha.png" class="img-rounded img-responsive" />
    <div>
        <p class="lead">Sistema Web que permite o pré cadastro dos colaboradores, veiculos e equipamentos de empresas autorizadas no aeroporto. </p>
    </div>
</div> 
<div class="row">
    <div class="col-md-4">
        <h2>Colaborador</h2>
        <div>
            <a href="/Colaborador/Index"><img src="~/Images/Colaboradores.png" class="img-rounded img-responsive" /></a>
        </div>
        <p></p>
        <p></p>
        <p>Efetua o cadastro de colaboradores para credenciamento.</p>
        <p><a class="btn btn-primary btn-lg" href="/Colaborador/Index">Acessar &raquo;</a></p>
    </div>
    <div class="col-md-4"> 
        <h2>Veiculos / Equipamentos</h2>
        <div> 
            <a href="/Veiculo/Index"><img src="~/Images/Veiculo.png" class="img-rounded img-responsive" /></a>
        </div>
        <p>Efetua o cadastro de veiculos / equipamentos.</p>
        <p><a class="btn btn-primary btn-lg" href="/Veiculo/Index">Acessar &raquo;</a></p>
    </div> 
</div>