@{
    ViewBag.Title = "Credenciamento";
}

<div class="jumbotron">
    <div class="Form-group row">
        <div class="col-sm-2">
            <h3><img src="~/Images/Cracha.png" class="" /></h3>
        </div>
        <div class="col-sm-10"><h1>Credenciamento</h1></div>
    </div>
    <div>
        <p class="lead">Sistema Web que permite o pré cadastro dos colaboradores, veiculos e equipamentos de empresas autorizadas no aeroporto. </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-6" style="align-content:center">
        <h3>Colaborador</h3>
        <div>
            <a href="/Colaborador/Index"><img src="~/Images/Colaboradores.png" class="img-rounded img-responsive" /></a>
        </div>        
        <p></p>
        <p>Efetua o cadastro de colaboradores para credenciamento.</p>
        <p><a class="btn btn-primary btn-lg" href="/Colaborador/Index">Acessar &raquo;</a></p>
    </div>
    <div class="col-lg-6" style="align-content:center">
        <h3>Veiculos / Equipamentos</h3>
        <div>
            <a href="/Veiculo/Index"><img src="~/Images/Veiculo.png" class="img-rounded img-responsive" /></a>
        </div>
        <p>Efetua o cadastro de veiculos / equipamentos.</p>
        <p><a class="btn btn-primary btn-lg" href="/Veiculo/Index">Acessar &raquo;</a></p>
    </div>
</div>