
@{
    ViewBag.Title = "Links Uteis";
}
<br />
<h2>Links Uteis</h2>
<div class="jumbotron">
    <ul class="list-group">
        <li><a href="https://servicos.receita.fazenda.gov.br/Servicos/CPF/ConsultaSituacao/ConsultaPublica.asp">Consulta Situação CPF</a></li>
        <li><a href="http://www.tjrs.jus.br/site/servicos/alvara_de_folha_corrida_cert2g">Folha Corrida</a></li>
        <li><a href="https://www.pc.rs.gov.br/emitir-certidao-de-antecedentes-policiais">Certidão de Antecedentes Policiais</a></li>
        <li><a href="https://servicos.dpf.gov.br/antecedentes-criminais/certidao">Certidão de Antecedentes DPF</a></li>
        <li><a href="https://www2.trf4.jus.br/trf4/processos/certidao/index.php">Certidão Processos</a></li>
    </ul>
</div>


