@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="table-wrapper">
    <div class="row">
        <section>
            <div class="wizard">
                <div class="wizard-inner" style="text-align:center">
                    <div class="connecting-line" style="width:100%"></div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item active">
                            <a class="nav-link" id="link1" data-toggle="tab" href="#home" role="tab" aria-controls="home" title="Contato"
                               aria-selected="true">
                                <span class="round-tab">
                                    <i class="fa fa-fw fa-thumbs-o-up"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div class="col-lg-8" style="text-align:left">
                        <br />
                        <ul>
                            <li><a href="https://servicos.receita.fazenda.gov.br/Servicos/CPF/ConsultaSituacao/ConsultaPublica.asp">Consulta Situação CPF</a></li>
                            <li><a href="http://www.tjrs.jus.br/site/servicos/alvara_de_folha_corrida_cert2g">Folha Corrida</a></li>
                            <li><a href="https://www.pc.rs.gov.br/emitir-certidao-de-antecedentes-policiais">Certidão de Antecedentes Policiais</a></li>
                            <li><a href="https://servicos.dpf.gov.br/antecedentes-criminais/certidao">Certidão de Antecedentes DPF</a></li>
                            <li><a href="https://www2.trf4.jus.br/trf4/processos/certidao/index.php">Certidão Processos</a></li>
                            <li><a href="~/Documentos/Modelo_Termo_Aceite.pdf" download="Modelo_Termo_Aceite">Modelo do Termo de Aceite de divulgação dos dados do colaborador</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            //Initialize tooltips
            $('.nav-tabs > li a[title]').tooltip();
        });
    </script>
}


