@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-6">
                <h2>Links <b>Uteis</b></h2>
            </div>
        </div>
    </div>
    <div class="list-group list-group-item-heading">
        <br />
        <ul>
            <li><a href="https://servicos.receita.fazenda.gov.br/Servicos/CPF/ConsultaSituacao/ConsultaPublica.asp">Consulta Situação CPF</a></li>
            <li><a href="http://www.tjrs.jus.br/site/servicos/alvara_de_folha_corrida_cert2g">Folha Corrida</a></li>
            <li><a href="https://www.pc.rs.gov.br/emitir-certidao-de-antecedentes-policiais">Certidão de Antecedentes Policiais</a></li>
            <li><a href="https://servicos.dpf.gov.br/antecedentes-criminais/certidao">Certidão de Antecedentes DPF</a></li>
            <li><a href="https://www2.trf4.jus.br/trf4/processos/certidao/index.php">Certidão Processos</a></li>
        </ul>
    </div>
</div>


